#macro( reject ) <span class='wssRed'>Rejections found</span> #end
#macro( approve ) <span class='wssGreen'>All approved</span> #end
#macro( rejectSingle $policyName ) <span class='wssRed'>rejected by policy $policyName</span> #end
#macro( approveSingle $policyName ) <span class='wssGreen'>approved by policy $policyName</span> #end
#macro( lineSeparator ) <div class='wssLineSeparaterContainer'><div class='wssLineSeparator'></div></div> #end

#macro (projectsSummary $projects $detailsPrefix)
    #foreach ($entry in $projects.entrySet())
        #set( $detailsId = "${detailsPrefix}-details-$foreach.count")
		
        <div class='wssProjectEntry'>

            ## project caption
            <div style="width: 100%;" class='wssBorder wssProjectCaptionBackground'>
                <div style="display: inline-block; padding-left: 10px;">
                	<div class='wssTextColor wssProjectTitle'>$entry.key</div>
                </div>

                <div style="display: inline-block; padding-left: 10px">
                    #if ( $entry.value.hasRejections() )
                        #reject()
                    #else
                        #approve()
                    #end
                </div>

                <a class='wssAnchor' href="#" onclick="toggleDetails(this, '$detailsId')" style="float:right; padding: 5px;">show details</a>
            </div>

            ## project details
            <div id="$detailsId" style="width: 100%; display: none;" class='wssBorder wssDetailsBackground'>
                #projectDependenciesTree($entry.value)
            </div>
        </div>

    #end
#end

#macro ( projectDependenciesTree $root)
    <ul>
        #foreach ($child in $root.children)
            #dependencyNode ($child)
        #end
    </ul>
#end

#macro ( dependencyNode $node)
    <li>
        <span>
            <a class='wssAnchor' href="$node.resource.link" target="_blank">$node.resource.displayName</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            #foreach ($license in $node.resource.licenses)
                $license &nbsp;
            #end

            &nbsp;&nbsp;&nbsp;&nbsp;
            #if ($node.policy)
                #if ("Reject" == $node.policy.actionType)
                    #rejectSingle( $node.policy.displayName )
                #else
                    #approveSingle( $node.policy.displayName )
                #end
            #end
        </span>

        #if ( $node.children )
            <ul>
            #foreach ($child in $node.children)
                #dependencyNode ($child)
            #end
            </ul>
        #end
    </li>
#end

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>White Source - Policy Check Summary</title>
        <meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type" />

        <script>
            function toggleDetails(anchor, detailsId){
                var details = document.getElementById(detailsId);

                if(details.style.display == 'block' ) {
                    details.style.display = 'none';
                    anchor.innerHTML = 'show details'
                }
                else {
                    details.style.display = 'block';
                    anchor.innerHTML = 'hide details'
                }

                return details;
            }
        </script>
        
        <link rel="stylesheet" href="wss.css">
    </head>

    <body class='wssBody'>
    <div align="center" style="width: 100%;">
    <div class='wssContainer'>
        <a class='wssAnchor' href="http://www.whitesourcesoftware.com" target="_blank">
            <img align="left" src="http://saas.whitesourcesoftware.com/Wss/background/WhiteSource_Logo.png" style="left: 10;" />
        </a>

        <div align="center">
            <h1> &nbsp;</h1>
            <h1 class='wssHeader'>Policy Check Summary</h1>
            <h2>
                #if ( $hasRejections )
                    #reject()
                #else
                    #approve()
                #end
            </h2>

            <br/>

        </div>

		<div align='left'>
			<div class='wssTextAlign' style="width: 500px; padding-left: 10px;">
				<div>
					<span class='wssGeneralIcon'></span>
			        <div class='wssProjectHeader' style="display: inline-block">General details</div>
		       </div>
	            <table style="width: 100%;" class='wssTable wssTextColor'>
	                <tbody>
	                    <tr><td>Build Name</td><td>$buildName</td></tr>
	                    <tr><td>Build Number</td><td>$buildNumber</td></tr>
	                    <tr><td>Report creation time</td><td>$creationTime</td></tr>
	                </tbody>
	            </table>
	        </div>
        </div>

        #lineSeparator

		<div class='wssTextAlign'>
			<div style='padding-bottom: 1px;'>
				<span class='wssProjectIcon'></span>
		        <div class='wssProjectHeader' style="display: inline-block">New projects</div>
		        <span class='wssTextColor wssProjectStats'>found $result.newProjects.size() new projects </span>
	       </div>
	        #projectsSummary($result.newProjects "new-project")
	
			#lineSeparator
	
			<div style='padding-bottom: 1px;'>
				<span class='wssProjectIcon'></span>
		        <div class='wssProjectHeader' style="display: inline-block">Existing projects</div>
		        <span class='wssTextColor wssProjectStats'>found $result.existingProjects.size() existing projects </span>
		    </div>
	        #projectsSummary($result.existingProjects "existing-project")
        </div>

	</div>
	</div>
    </body>
</html>
